<!DOCTYPE html>
<html ng-app="payrollSystem">
<head>
	<title>HR Payroll System</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>

<body>
	<div class="container-fluid" ng-controller="payrollSystemCtrl">
		
		<!-- Employee Info -->
		<div ng-show="view === 'employeeInfo'">
			<h1>Employee Info</h1>
			
			<form name="empInfo">
				<div class="row">
					<div class="col-md-3 form-group">
						<input type="text" class="form-control" name="firstName" placeholder="First Name" ng-model="fnameInput" ng-required="true">
					</div>
					
					<div class="col-md-3 form-group">
						<input type="text" class="form-control" name="lastName" placeholder="Last Name" ng-model="lnameInput" ng-required="true">
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-3 form-group">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="fa fa-usd"></i>
							</span>
							<input type="number" min="0" step="1" class="form-control" name="annualSalary" placeholder="Annual Salary" ng-model="annualSalInput" ng-required="true">
							<span class="input-group-addon">
								<i>.00</i>
							</span>
						</div>
					</div>

					<div class=" col-md-3 form-group">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="fa fa-percent"></i>
							</span>
							<input type="number" min="0" max="100" step="1" class="form-control" name="superRate" placeholder="Super Rate" ng-model="superRateInput" ng-required="true">
						</div>
					</div>
				</div>

				<!-- Generate the payslip only when form fields are valid  -->
				<div class="col-md-6 text-right">
					<button class="btn btn-primary" ng-click="empInfo.$valid && generatePayslip()"> 
						Generate Payslip
					</button> 
				</div>
			</form>
		</div>

		<!-- Payslip -->
		<div ng-show="view === 'payslip'">
			<h1>Payslip</h1>
			<h4 style="text-transform:capitalize;">{{fnameInput.toLowerCase()}} {{lnameInput.toLowerCase()}}</h4>

			<!-- Payslip Table -->
			<div class="row top-buffer">
				<div class="col-sm-6">
					<table class="table table-striped">
						<tr>
							<td><strong>Pay Date</strong></td>
							<td>{{payDate()}}</td>
						</tr>
						<tr>
							<td><strong>Pay Frequency</strong></td>
							<td>Monthly</td>
						</tr>
						<tr>
							<td><strong>Annual Income</strong></td>
							<td>$ {{roundNumber(annualSalInput)}}.00</td>
						</tr>
						<tr>
							<td><strong>Gross Income</strong></td>
							<td>$ {{roundNumber(grossIncome())}}.00</td>
						</tr>
						<tr>
							<td><strong>Income Tax</strong></td>
							<td>$ {{roundNumber(incomeTax())}}.00</td>
						</tr>
						<tr>
							<td><strong>Net Income</strong></td>
							<td>$ {{roundNumber(netIncome())}}.00</td>
						</tr>
						<tr>
							<td><strong>Super</strong></td>
							<td>$ {{roundNumber(superAmt())}}.00</td>
						</tr>
						<tr>
							<td><strong>Pay</strong></td>
							<td>$ {{roundNumber(payAmt())}}.00</td>
						</tr>
					</table>
				</div>
			</div>

			<!-- Buttons -->
			<div class="row">
				<div class="col-md-6 text-right">
					<button class="btn btn-primary" ng-click="payEmployee()">
						Pay
					</button>
					<button class="btn btn-primary" ng-click="employeeInfo()">
						Cancel
					</button>
				</div>
			</div>
		</div>
	</div>

	<script src="./js/payrollSystemController.js"></script>
</body>
</html>
